<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %} SnipArch {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
  </head>

  <body>

    <div><!-- container -->
      <header>
        <h1>The Snippet Archive</h1>
      </header>
      <main>
        {% block content %} This is default content {% endblock %}
      </main>
      <footer>
        <p>
          &copy; 2017
          Haydn Appleby & Austin Gross
        </p>
      </footer>
    </div><!-- end container -->

  </body>

</html>
